<tr>
  <td>
    <%= link_to(player.fullname, edit_player_path(player.id)) %>
    <%= link_to(image_tag("delete.png"), player_path(player.id), method: 'delete', data: { confirm: 'Naozaj vymazat?' }, class: "delete-record") %>
  </td>
</tr>
