<h2>Zoznam klientov</h2>
<table>
  <%= render partial: "player", collection: @players %>
</table>
<div class="button-link">
  <%= link_to "Vymazať...", "javascript:toggleEditMode('Vymazať...')", id: "edit-records" %>
  <%= link_to "Pridať klienta", new_player_path %>
</div>
