// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






.player-face-img {
  width: 170px;
  height: 220px;
}

div.player-face {
  float: left;
  margin-right: 80px;
}

.player-detail-label {
  text-align: right;
  margin-right: 18px;
  display: inline-block;
  width: 200px;
}

